@{
    ViewData["Title"] = "Bem vindo";
}

<div class="text-center">
    <h4 class="display-4">GRAFICO MENSAL</h4>
     <div class="pt-4">
        <a role="button" class="btn btn-success" asp-controller="Entrada" asp-action="Index">Entrada de Mercadoria</a>
    </div>
    <div class="pt-4">
        <a role="button" class="btn btn-danger" asp-controller="Saida" asp-action="Index">Saida de Mercadoria</a>
    </div>
</div>
