@model Entrada
@{
    ViewData["Title"] = "Confirmação";
}

<div class="text-left" style="width:500px;">
    <strong>Deseja exluir o registro entrada <br />Nº( @Model.Id ) ?</strong>
    <div class="group-item mt-4">
        <a role="button" asp-controller="Entrada" asp-action="Index" class="btn btn-primary mt-2">Cancelar</a>
        <a role="button" asp-controller="Entrada" asp-action="Apagar" asp-route-id="@Model.Id" class="btn btn-danger mt-2">Excluir</a>
    </div>
</div>