@using GerenciamentoMercadoria.Models.ViewModel
@model IEnumerable<Entrada>
@{
    ViewData["Title"] = "Entrada";
}

<div class="text-left">

    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close-alert text-success" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Sucesso! </strong>@TempData["Sucesso"]
        </div>
    }
    @if (TempData["Falha"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close-alert text-danger" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error! </strong>@TempData["Falha"]
        </div>
    }
    
    <h4>Lista de Entradas</h4>
    <div class="pt-4">
        <a role="button" asp-controller="Entrada" asp-action="Inserir" class="btn btn-success">Adicionar</a>
        <a role="button" id="Relatorio" class="btn btn-primary">Relatótio</a>
        <a role="button" asp-controller="Entrada" asp-action="Index" class="btn btn-danger">All</a>
        <div id="datepicker"></div>
    </div> 
    
    <div id="listaEntrada">@Html.Partial("_Lista", Model);</div>
    
</div>


